@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Default light mode */
body {
    background-color: white;
    color: black;
  }
  
  /* Dark mode */
  body.dark {
    background-color: #121212;
    color: white;
  }
  
  .app.dark {
    background-color: #121212;
  }
  
  .timer.dark {
    color: white;
  }
  
  select.dark {
    background-color: #555;
    color: white;
  }
  